<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <title>电子邮箱</title>
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <script src="https://libs.baidu.com/jquery/2.1.4/jquery.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body onload="getInfo('changeE')">
  <div class="loginBackground">
    <div class="structure2">
      <div>
        <a class="cancel" href="./userInfo.html"></a>
      </div>
      <div class="desTiltle">
        <div>
          <h1 class="header">电子邮箱</h1>
        <div class="describe">您正在解除绑电子邮箱</div>
      </div>
      <div class="inputBoxes" >
        <input type="text" class="userInput" id="oldEmail" placeholder="jyp@wooduan.com">
        <div class="verification">
          <input type="text"  class="userInput"  id="verificationEnter" placeholder="邮箱验证码">
          <input type="button" id="verificationSend" value="发送验证码" onclick="getEmailNum('unbind')">
          <div class="verticleLine"></div>
        </div>
        <div class="verification">
          <input type="text"  class="userInput" id="verificationText" placeholder="图片验证码">
          <img id="verificationCode" src="../image/verificationCode.png" onclick="refreshImageCode()">
        </div>
        <input type="button" class="submitButton" id="submit" value="提交" onclick="codeTest()" >
      </div>
      <div class="otherFunc" id="loginPageBox">
        <a href="./appeal.html" id="loginPage">邮箱找不到？点此申诉</a>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript">
  let phone, code, image_code;
  //邮箱解绑
  function codeTest()  {
    var oldEmail = document.getElementById("oldEmail");
    var verificationEnter = document.getElementById("verificationEnter");
    var verificationText = document.getElementById("verificationText");
  
    if (verificationText.value.length == 0) { //未输入图片验证码
      alert("请输入图片验证码");
      return;
    } else if (verificationEnter.value.length == 0) { //未输入邮箱验证码
      alert("请输入邮箱验证码");
      return;
    } else {
      let num = parseInt(verificationEnter.value);
      if (isNaN(num) || num.toString().length != verificationEnter.value.length) {
        alert("验证码有误");
        return;
      } 
      code = num; 
      image_code = verificationText.value;
      email = oldEmail.placeholder;
    } 
    emailUnbind();
  }

  function emailUnbind(){
    let postData = {
      email: email,
      code:code,
      image_code: image_code
    }      
    $.ajax({
      type:"POST",
      url: 'http://192.168.0.18:8015/web/index/unBindEmail',
      dataType:"json",
      data:JSON.stringify(postData),
      contentType:'application/json',
      headers:{
        'Content-Type':'application/json', 
        'token' : token
      },
      success:function(res){
        console.log(res)
        if (res.code == 0) {
          alert("success");
          window.location.href = "/components/userInfo.html";
        } else {
          alert( res.code + ": "+ res.msg);
        }
      },
      error: function(res) {
        alert("error");
      }
    });
  }    
</script>
</html>
<script type="text/javascript" src="js/code.js"></script>
<script type="text/javascript" src="js/userData.js"></script>