<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <title>充值礼包</title>
  <link rel="stylesheet" type="text/css" href="../css/chargeChoose.css">\
  <script src="https://libs.baidu.com/jquery/2.1.4/jquery.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body onload="getInfo()">
  <div class="structure">
	<div class="header">
	  <div>
		<a class="back"  href="./creditChooseServer.html"></a>
	  </div>
	  <div class="titleName">
		<h1 id="gameName"> 生死狙击1 </h1>	
		<div class="describe" id="gameRe">电信一区</div>	
	  </div>
	</div>
	<div class="header" id="chargeHeader">
	  <div class="titleName">
		<h1> 充值礼包 </h1>	
		<div class="describe">请选择您要充值的礼包或金额</div>	
	  </div>	
	</div>		
	<div id="creditPackageBoxes">
	  <div class="creditPackageBox">
		<a  href="./creditChargeConfirm.html" onclick="choosePackage(event)">
		  <div>
			<img src="../image/creditPackage1.png">
		  </div>
		  <div class="packageInfo">
			<p class="packageName">金币礼包(99金币)</p>
			<p  class="packageIntro">充90金币送9金币</p>
			<p class="packagePrice">￥ 99.00</p>
		  </div>
		</a>
      </div>
	  <div class="creditPackageBox">
		<div>
		  <img src="../image/creditPackage2.png">
		</div>
		<div class="packageInfo">
		  <p class="packageName">金币礼包(299金币)</p>
		  <p class="packageIntro">充200金币送99金币</p>
		  <p class="packagePrice">￥ 199.00</p>
		</div>
	  </div>
	  <div class="creditPackageBox">
		<div>
		  <img src="../image/creditPackage3.png">
		</div>
		<div class="packageInfo">
		  <p class="packageName">金币礼包(599金币)</p>
		  <p class="packageIntro">充400金币送199金币</p>
		  <p class="packagePrice">￥ 388.00</p>
		</div>
	  </div>
	</div>
  </div>
</body>
<script type="text/javascript">
  let gameId = window.localStorage.gameId;
  let regionId = window.localStorage.regionId;
  let token = window.localStorage.token;
  let rule;
  
  function getInfo(){
	$.ajax({
      type:'GET',
      url:' http://192.168.0.18:8015/web/basic/chargeBaseData',
      dataType:"json",
      headers:{
        'Content-Type':'application/x-www-form-urlencoded'
      },
      success: function(res){
        getRule(res.data);
        console.log(res.data); 
       
      },
      error: function() { 
        alert("error");
      } 
    });
  }

  function setInfo(data) {
	var gameName = document.getElementById("gameName");
	var gameRe = document.getElementById("gameRe");
	
	for (let i = 0; i < data.games.length; i++) {   //对应游戏的默认金币充值
	  if (data.games[i].id == gameId) {
		gameName.innerHTML = data.games[i].name.zh;
		for (let j = 0; j < data.games[i].regions.length; j++) {
		  if (data.games[i].regions[j].id == regionId) { // regions
			gameRe.innerHTML = data.games[i].regions[j].name; 
		  }		
		}
		var creditPackageBoxes = document.getElementById("creditPackageBoxes");
		creditPackageBoxes.innerHTML = "";

		for (let k = 0; k < rule.rules.length; k++) { // defult golds
		  setCreditPackage(rule.rules[k]);
		}
	  }	
	}
  }

  //创建金币礼包html
  function setCreditPackage(r){
    var creditPackageBoxes = document.getElementById("creditPackageBoxes");
    let div = document.createElement("div"); //外框
    let a = document.createElement("a");  //链接
    div.className = "creditPackageBox"
    a.setAttribute("href", "./creditChargeConfirm.html");
    a.setAttribute("onclick", "choosePackage(event)");
	div.appendChild(a);	

	let div2 = document.createElement("div");  //左图
	let img = document.createElement("img");
	img.setAttribute("src", r.logo);
	
	div2.appendChild(img);

	let div3 = document.createElement("div") // 右信息
	let p1 = document.createElement("p");
	let p2 = document.createElement("p");
	let p3 = document.createElement("p");
	div3.className = "packageInfo";
	p1.className = "packageName";	
    p1.id = r.id;
	p1.innerHTML = r.name;
	p2.className = "packageIntro";
	p2.innerHTML = r.description;
	p3.className = "packagePrice";
	p3.innerHTML = "￥" + r.amount;
	div3.appendChild(p1);
	div3.appendChild(p2);
	div3.appendChild(p3);
	a.appendChild(div2);
	a.appendChild(div3);
	creditPackageBoxes.appendChild(div);
  }
  
  //用户选择金币礼包存储对应金额和汇率
  function choosePackage(e){
	let storage = window.localStorage;
	if(e.target.tagName == "P"){
	  storage.ruleId = e.target.parentElement.firstElementChild.id;
	} else if (e.target.tagName == "DIV") {
	  storage.ruleId = e.target.firstElementChild.id;
	} else if (e.target.tagName == "IMG") {
	  storage.ruleId = e.target.parentElement.parentElement.lastElementChild.firstElementChild.id;
	}
  }


   function getRule(data){
    let getData = {
      game_id : gameId,
      region_id: regionId,
      language: "zh"
    }
  $.ajax({
    type:'GET',
    url:' http://192.168.0.18:8015/web/index/getChargeRules',
    data:getData,
    dataType:"json",
    headers:{
      'Content-Type':'application/x-www-form-urlencoded',
      "token": token
    },
    success: function(res){
      if (res.code == 0) {
          rule = res.data;
          console.log(res.data);
          setInfo(data);
        } else {
          alert(res.code + ": " + res.msg);
        }
      
     },
    error: function() { 
      alert("error");
    } 
  });
}
</script>	
</html>