<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<title>使用密保找回密码</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<script src="https://libs.baidu.com/jquery/2.1.4/jquery.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body onload="getQuestion()">
	<div class="structure2">
		<div>
			<a class="cancel" href="./findPassword.html"></a>
		</div>
		<div class="subTiltle">
			<div class="smallDescribe">找回密码</div>
			<h2 class="smallHeader">使用密保问题找回密码</h2>
		</div>
		<div class="inputBoxes"  id="mainStyle">
			<div class="verification">
				<img class="questionIcon" src="../image/question.png">
				<select type="text"  id="question">
					<option selected="selected">请选择您设置的密保问题</option>
					<option>AAA</option>
					<option>CCC</option>
				</select>
			</div>
			
			<input type="text" class="userInput" id="answer" placeholder="请输入您的答案">	
			<input type="password" class="userInput" id="password" placeholder="请输入您的新密码">
			<input type="password" class="userInput" id="passwordAgain" placeholder="请再次输入您的新密码">
			<input type="button" class="submitButton" id="submit" value="提交" onclick="testQuestion()" >
		</div>
	</div>
</body>

</html>
<script type="text/javascript" src="js/findPassword.js"></script>
<script type="text/javascript" src="js/questiones.js"></script>