<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <title>手机号码</title>
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
  <div class="loginBackground">
    <div class="structure2">
      <div>
        <a class="cancel" href="./userInfo.html"></a>
      </div>
      <div class="desTiltle">
        <h1 class="header">手机号码</h1>
      </div>
      <div class="textDescribe">
        您的手机号码已经绑定成功，您可以使用手机号码登录或在忘记密码时使用手机号码找回您的密码。
        <br> 您的手机号码：<span class="important">15395172720</span>
      </div>
      <div class="inputBoxes">
        <input type="button" class="submitButton" id="setPhoneButton" value="解除绑定" onclick="cancelWarning()" >
      </div>     
    </div>
    <div id="cancelWarning">
      <div class="warningInnerBox">
        <p class="warningTitle">提示</p>
        <p class="warningInfo">你确定要将此号码解绑吗？</p>
        <div class="bBox">
          <button class="cancelPhoneNum" id="no" onclick="cancelWarning()">取消</button>
          <button class="cancelPhoneNum" id="yes" onclick="yes()" >确定</button>
        </div>   
      </div>
    </div>
  </div>
</body>
<script type="text/javascript">
  //手机解绑警告框
  function cancelWarning() {
    var cancelWarning=document.getElementById("cancelWarning");
    if (cancelWarning.style.display == 'block') {
      cancelWarning.style.display = 'none';
    } else {
      cancelWarning.style.display = 'block';
    }                   
  }

  function yes(){
    window.location.href="./changePhone.html"  
  }
</script>
</html>