<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<title>实名认证</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	
	<div class="loginBackground">
		 <div class="structure2">
           <div>
            	<a class="cancel" href="./userInfo.html"></a>
        	</div>
            <div class="desTiltle">
				<h1 class="header">实名认证</h1>
				<div class="describe">请如实填写您的姓名和身份证号</div>
			</div>
			<a class="inputBoxes" href="IdentityConfirmed.html">
				<input type="text"  class="userInput" id="realName" placeholder="请填入您的真实姓名">
				<input type="text" class="userInput" id="identityNum" placeholder="请填写您的身份证号码">
				<input type="button" class="submitButton" id="submit" value="提交" >
			</a>
		</div>
	</div>
</body>
</html>