<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<title>流水席</title>
	<link rel="stylesheet" type="text/css" href="../css/user.css">
</head>
<body>
	<div class="userStruc">
		<div id="userHeader">
			<div id="setButton">
				<div>
					<a id="setText" href="./userInfoChange.html">账号设置</a>
				</div> 	
				<div>
					<img id="setImg" src="../image/setIcon.png">
				</div>
				
			</div>
			<div id="userTitle">
				<div>
					<img id="userIcon" src="../image/userColoredIcon.png">
				</div>
				<div id="useridNum">
					 <p><span id="useridName">流水席</span><span id="useridNumber">#8909</span></p>
					 <p id="useridPhone">15395171720</p>
				</div>
			</div>
		</div>

		<div id="userDetails">
			<div class="whitleLink">
				<div class="detailIcons"><img src="../image/passwordColoredIcon.png"></div>
				<a class="underLine" href="./changePassword.html">
					<div class="details">密码设置</div>
					<div class="rightArrow"><img src="../image/rightArrow.png"></div>
				</a>
				
			</div>
			<div class="whitleLink">
				<div class="detailIconss"><img src="../image/identityColoredIcon.png"></div>
				<a class="underLine" href="./setIdentity.html">
					<div class="details" >实名认证</div>
					<div class="rightArrow"><img src="../image/rightArrow.png"></div>
					<div class="detailInfo">江羿平</div>
				</a>
				
			</div>
			<div class="whitleLink">
				<div class="detailIcons"><img src="../image/phoneColoredIcon.png"></div>
				<a class="underLine" href="./phoneConfirmed.html">
					<div class="details">手机号码</div>
					<div class="rightArrow"><img src="../image/rightArrow.png"></div>
					<div class="detailInfo">15395172720</div>
				</a>
				
			</div>
			<div class="whitleLink">
				<div class="detailIconss"><img src="../image/emailColoredIcon.png"></div>
				<a class="underLine" href="./emailConfirmed.html">
					<div class="details">电子邮箱</div>
					<div class="rightArrow"><img src="../image/rightArrow.png"></div>
					<div class="detailInfo">jyp@wooduan.com</div>	
				</a>
			
			</div>
			<div class="whitleLink">
				<div class="detailIcons"><img src="../image/questionColoredIcon.png"></div>
				<a class="underLine" href="./questionConfirmed.html">
					<div class="details">密保问题</div>
					<div class="rightArrow"><img src="../image/rightArrow.png"></div>
					<div class="detailInfo">未设置</div>	
				</a>
				
			</div>
			<div class="whitleLink">
				<div class="detailIcons"><img src="../image/thirdColoredIcon.png"></div>
				<a class="noUnderLine" href="./thirdParty.html">
					<div class="details">第三方账号绑定</div>
					<div class="rightArrow"><img src="../image/rightArrow.png"></div>
				</a>
				
			</div>
	
			<div class="whitleLink" id="infoCenterTitle">
				充值中心
			</div>
			<div class="whitleLink">
				<div class="detailIcons"><img src="../image/chargingColoredIcon.png"></div>
				<a class="underLine" href="./creditCharge.html">
					<div class="details">在线充值</div>
					<div class="rightArrow"><img src="../image/rightArrow.png"></div>
				</a>
				
			</div>
			<div class="whitleLink">
				<div class="detailIcons"><img src="../image/recordColoredIcon.png"></div>
				<a class="noUnderLine" href="./credit.html">
					<div class="details">充值记录</div>
					<div class="rightArrow"><img src="../image/rightArrow.png"></div>
				</a>
				
			</div>
		
			<div class="whitleLink"  id="infoCenterTitle">
				客服中心
			</div>
			<div class="whitleLink">
				<div class="detailIcons"><img src="../image/serviceColoredIcon.png"></div>
				<a class="underLine">
					<div class="details">客服热线</div>
					<div class="rightArrow"><img src="../image/rightArrow.png"></div>
					<div class="detailInfo">0571-81021034</div>
				</a>
				
			</div>
			<div class="whitleLink">
				<div class="detailIcons"><img src="../image/appealColoredIcon.png"></div>
				<a class="underLine" href="./appeal.html">
					<div class="details">账号申诉</div>
					<div class="rightArrow"><img src="../image/rightArrow.png"></div>
				</a>
				
			</div>
			<div class="whitleLink"></div>
			<div class="whitleLink"></div>
		</div>

	</div>
	
</body>
</html>